# ==========================
# Application
# ==========================
APP_NAME=GeoMiner AI
APP_VERSION=1.0.0
LOG_LEVEL=INFO

# ==========================
# Dataset
# ==========================
TRAIN_DATASET= filepath

VAL_DATASET= filepath

TEST_DATASET= filepath

# ==========================
# Training
# ==========================
IMAGE_SIZE=512

NUM_CLASSES=2

BATCH_SIZE=4

NUM_WORKERS=4

EPOCHS=30

LEARNING_RATE=0.0001

WEIGHT_DECAY=0.00001

DEVICE=cuda

RANDOM_SEED=42

MODEL_NAME=nvidia/segformer-b0-finetuned-ade-512-512